.switch-container {
  position: relative;
  display: inline-block;
  width: 5rem;
  flex-shrink: 0;
}

.switch-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--clr-error);
  top: 0;
  right: 0;
  z-index: 0;
}

.switch-container::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--clr-success);
  top: 0;
  left: 0;
  z-index: 0;
}

.switch {
  position: relative;
  cursor: pointer;
  width: 50%;
  height: 1rem;
  background-color: var(--clr-background);
  z-index: 1;
}