#grid {
  cursor: pointer;
  background-color: var(--clr-background);
}

.grid-base {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.grid-wrapper {
  width: 3000px;
  height: 3000px;
  transform: scale(1);
  transform-origin: 0 0;
}

.grid-float-container {
  position: fixed;
}

#square path, #bigSquare path {
  stroke: var(--clr-outline);
}