#grid {
  cursor: pointer;
}

.grid-base {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.grid-wrapper {
  width: 300%;
  height: 300vh;
  transform: scale(1);
  transform-origin: 0 0;
}

.grid-float-container {
  position: fixed;
}