{
  "compact": false,
  "retainLines": true,
  "minified": false,
  "inputSourceMap": false,
  "sourceMaps": false,
  "plugins": [
      [
        "module-resolver",
        {
            "extensions": [".js"],
            "root": ["./dist"],
            "alias": {
              "*": "./"
            }
        }
      ]
  ]
}