.btn {
  cursor: pointer;
  user-select: none;
  padding: 12px 24px;
  background-color: var(--clr-background);
}

.btn:hover {
  background-color: rgba(var(--clr-rgb-onBackground), .05);
}

.btn-transparent {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}

.btn-transparent:hover {
  background-color: rgba(var(--clr-rgb-onBackground), .05);
}